* {
    padding: 0;
    margin: 0;
}

@import 'mobile';

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {

    box-sizing: border-box;
    scroll-behavior: smooth;
}

.right {
    display: flex;
}

header {
    overflow: hidden;
    background-image: url(img/bigzvezda.svg), url(img/minzvezdaright.svg), url(img/minzvezdarightRGB.svg), url(img/bigzvezdaRGB.svg), url(img/minzvezda.svg);
    background-repeat: no-repeat;
    background-position: top -333px right -502px,
        right 330px top 567px,
        right 440px top 537px,
        left 64px top 95px,
        left 156px top 70px;
    width: 100%;
    padding-top: 196px;
    font-family: Montserrat;
    background-color: rgb(225, 255, 143);
}

.header__start {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.header__start-heading {
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}

.header__start-text {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 24px;
}

.header__start-span {
    font-weight: 600;
}

.header__start-box {
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.header__start-button {
    border-radius: 60px;
    background: #000;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    height: 66px;
    width: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header__start-button:hover {
    transition: all 0.7s;
    background: rgb(255, 255, 255);
    color: #000;
}

.header__animal {
    margin-top: 156px;
    height: 90px;
    font-family: Montserrar;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(188, 236, 48);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header__animal-scroll {
    display: flex;
    animation: scroll-left 30s linear infinite;
    padding-left: 0%;
    width: 100%;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.header__animal-item {
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 51px;
}

.header__animal-img {
    position: static;
    width: 36px;
    height: 36px;
}


.game {
    padding-bottom: 50px;
    background: rgb(32, 32, 39);
    font-family: Montserrat;
}

.game__start {}

.game__start-heading {
    padding-top: 94px;
    padding-bottom: 24px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    display: flex;
    flex-wrap: wrap;
}

.game__start-text {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.game__cart {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 72px;
}

.game__cart-href {
    z-index: 1;
    text-decoration: none;
}

.game__cart-article {
    border-radius: 30px;
    background-color: #fff;
}

.game__cart-href:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    z-index: 0;
}



.game__cart-box {
    width: 314px;
    display: flex;
    flex-direction: column;
    padding: 36px 32px;
}

.game__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.game__cart-number {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    display: flex;
    padding-left: 18px;
    width: 76px;
}

.game__cart-text {
    color: rgb(32, 32, 39);
    font-weight: 700;
    line-height: 39px;
    font-size: 32px;
    padding-top: 25px;
}

.game__cart-textbig {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game__cart-img {
    border-radius: 30px;
}



.mini-games {
    align-items: center;
    font-family: Montserrat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 30px;
    background: rgb(32, 32, 39);
    padding-bottom: 144px;
}

.mini-games__box {
    display: flex;
}

.mini-games__title {
    padding-bottom: 42px;
    padding-top: 46px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    width: 100%;
}

.mini-games__game {
    display: flex;
    background-color: #fff;
    border-radius: 45px;
    width: 100%;
    justify-content: space-between
}

.mini-games__game-heading {
    scroll-margin-top: 50vh;
    padding-bottom: 24px;
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    width: 100%;
}

.mini-games__game-text {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.mini-games__game-box {

    padding: 48px 48px;
}

.mini-games__game-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 28px;
    margin: 36px 0px;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    width: 247px;
}

.mini-games__game-button:hover {
    transition: all 0.7s;
    background: rgb(255, 255, 255);
    color: #000;
}

.mini-games__game-img {
    width: 600px;
    border-radius: 35px;
}

.mini-games__game-imgbox {}

.end {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(189, 237, 53);

}

.end-text {

    margin-top: 40px;
    margin-bottom: 40px;
}